
/* DEFAULT STYLING *********************/

body {
  margin:1em;
  background-color: beige;
  font-family: 'Raleway', sans-serif;
  color:rgb(49, 32, 19);
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

img {
  height: 70px;
  width:auto;
  box-shadow: 0 2px 5px rgb(49, 32, 19);
}

#header {
  padding:0 1em 2em;
}

.button-container {
  display:flex;
  flex-flow: row;
  justify-content: center;
  gap:3em;
}

#bg-change, #reset{
  padding:0.5em 1em;
  border-radius:1em;
  background-color: rgb(49, 32, 19);
  border: 0.5px solid rgb(49, 32, 19);
  color:white;
}

#bg-change:hover, #reset:hover {
  background-color: white;
  color:rgb(49, 32, 19);
}

#section-mat {
  padding:1em;
  margin:0 3em;
  background-color: darkolivegreen;
  border-radius:2em;
  box-shadow: 0 2px 5px rgb(49, 32, 19);
}

/* WALL *********************/

#wall-area {
  display:flex;
  margin: 0 5em;
  justify-content: center;
  
}
#background {
  background-image: url("../img/blank-wall0.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex:1 0 0;
  height:100vh;
  max-width: 100vw;
}

/* MADE ADJUSTMENTS TO WIDTH AND HEIGHT TO HANDLE THE DRAGGABLE AREA OF DIFFERENT SIZED IMAGES */ 
#background.one {
  background-image: url("../img/blank-wall1.jpg");
  max-width:30vw;
}
#background.two {
  background-image: url("../img/blank-wall2.jpg");
  max-height:70vh;
}
#background.three {
  background-image: url("../img/blank-wall3.jpg");
  max-width: 40vw;
  max-height:70vh;
}
#background.four {
  background-image: url("../img/blank-wall4.jpg");
  max-width: 50vw;
}

/* DEFAULT IMAGE AREA *********************/

#image-collection {
  margin-top:1em;
  padding:1em;
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  gap:1em;
  background-color: rgb(143, 160, 113);
  border-radius:2em;
  box-shadow: 0 2px 5px rgb(49, 32, 19);
}

/* ADDED A REVERT CLASS HERE IN ATTEMPTS TO RETURN IMAGES TO THEIR ORIGINAL PLACEMENT */

.gallery, .gallery-revert {
  flex:1 0 0;
  display:flex;
  justify-content:center;
  position: relative;
}
